In [3]:
import pandas as pd
import datetime as dt
import numpy as np
import glob

In [55]:
archivos = np.array(glob.glob('../data/Eólica 1/csv' + "/*.csv"))
print(archivos)
print(archivos.shape)

['../data/Eólica 1/csv/E1_22-10-2021.csv'
 '../data/Eólica 1/csv/E1_20-04-22.csv'
 '../data/Eólica 1/csv/E1_17-03-2022.csv'
 '../data/Eólica 1/csv/E1_29-03-2022.csv'
 '../data/Eólica 1/csv/E1_14-12-2021.csv'
 '../data/Eólica 1/csv/20682650.csv' '../data/Eólica 1/csv/20682654.csv']
(7,)

In [90]:
def lectura(file):
    file_readed = pd.read_csv(file, skiprows=1, usecols=[1,2,3,4]).set_axis(['fecha','Vel_kmh', 'Vel_Raf_kmh', 'Dir_viento_grd'], axis='columns')
    return file_readed

In [91]:
lectura(archivos[0])

                      fecha  Vel_kmh  Vel_Raf_kmh  Dir_viento_grd
0      06/08/21 04:34:05 PM   28.872       42.084           206.4
1      06/08/21 04:35:05 PM   32.472       39.672           210.6
2      06/08/21 04:36:05 PM   27.648       36.072           226.0
3      06/08/21 04:37:05 PM   30.060       38.484           219.0
4      06/08/21 04:38:05 PM   24.048       27.648           219.0
...                     ...      ...          ...             ...
21224  06/23/21 10:18:05 AM   37.260       56.520           221.8
21225  06/23/21 10:19:05 AM   44.496       57.708           213.4
21226  06/23/21 10:20:05 AM   45.684       56.520           210.6
21227  06/23/21 10:21:05 AM   44.496       56.520           207.8
21228  06/23/21 10:22:05 AM   49.284       52.884           205.0

[21229 rows x 4 columns]

In [107]:
data1 = []
for file in archivos:
    #print(file)
    temp = lectura(file)
    #print(temp)
    data1.append(temp)
    
pd.concat(data1, ignore_index=True)

                       fecha  Vel_kmh  Vel_Raf_kmh  Dir_viento_grd
0       06/08/21 04:34:05 PM   28.872       42.084           206.4
1       06/08/21 04:35:05 PM   32.472       39.672           210.6
2       06/08/21 04:36:05 PM   27.648       36.072           226.0
3       06/08/21 04:37:05 PM   30.060       38.484           219.0
4       06/08/21 04:38:05 PM   24.048       27.648           219.0
...                      ...      ...          ...             ...
266112  04/23/20 03:10:00 PM   32.472       36.072           338.3
266113  04/23/20 03:11:00 PM   32.472       40.860           336.9
266114  04/23/20 03:12:00 PM   31.248       39.672           318.7
266115  04/23/20 03:13:00 PM   36.072       45.684           300.4
266116  11/03/19 10:12:28 AM   73.810       28.390           206.4

[266117 rows x 4 columns]